.sticky-note {
	border: 1px solid #000;
	padding: 1em;
	background: #ffb903;
	position: absolute;
	cursor: move;
}

.sticky-note textarea {
	background: #ffb903;
	border: none;
	outline: none !important;
}