.sticky-note {
	width: 17em;
	height: 7em;
	border: none;
	padding: 1em;
	background: #ffb903;
	position: absolute !important;
	cursor: move;
}

.sticky-note textarea {
	background: #ffb903;
	border: none;
	width: 100%;
	height: 100%;
	outline: none !important;
	resize: none;
	font-size: 1.4em;
}